.stickyHeader {
  transition: all 1.2s;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1000;
  width: 100vw;
  padding: 13px 0;
}

.stickyHeader > div {
  padding-top: 5px;
}
.bgsolid {
  background-color: #16161a;
  border-bottom: 2px solid var(--main-gray);
}
.bgsolid:hover {
  border-color: var(--main-contrast);
  transition: all 0.8s;
}

.navbar-toggler {
  background-color: var(--main-gray);
  transition: all 0.8s;
  height: 40px;
  width: 60px;
  padding: 5px;
}

.navbar-toggle2 {
  background-color: var(--main-contrast);
  width: 12vw;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  text-align: center;
  border-radius: 5px;
}
