@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,500&display=swap");
@import url("../src/components/Header/header.css");
@import url("./components/animation.css");
@import url("./components/LandingPage/icons.css");
:root {
  --main-dark: #16161a;
  --main-light: #fffffe;
  --main-gray: #94a1b2;
  --main-secondary: #7f5af0;
  --main-contrast: #2cb67d;
  --main-font: "Montserrat", sans-serif;
}
html {
  overflow-x: hidden !important;
}

body {
  width: 100vw;
}
#mydiv {
  width: 400vw;
  transition: all 0.8s linear;
  display: flex;
  color: var(--main-gray);
}

#mydiv > div {
  width: 100vw;
}
.pointer {
  transition: all 0.8s;
}
.pointer:hover {
  cursor: pointer;
  color: var(--main-secondary) !important;
}
#top {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) -100%,
    #16161a 50%,
    #16161a 100%
  );
  font-family: var(--main-font);
}

body {
  background: linear-gradient(
    to bottom right,
    transparent -150%,
    #16161a 0%,
    #16161a 100%
  );
  font-family: var(--main-font);
  overflow-x: hidden;
}
#train {
  background: linear-gradient(to right, #16161a 0%, transparent 100%);
}

.darker-bg {
  background-color: #303034d0 !important;
  border: 1.6px solid var(--main-contrast);
}
.navtop {
  transition: all 0.8s;
}
.navtop:hover {
  cursor: pointer;
  scale: 1.05;
  color: var(--main-secondary);
}
.small {
  font-size: 0.9em;
}
.smaller {
  font-size: 0.8em;
}
.extrasmall {
  font-size: 0.75em;
}

.text-gray {
  color: var(--main-gray) !important;
}
.gray-text * {
  transition: all 1.1s;
  color: var(--main-gray) !important;
}
.dark-text {
  color: var(--main-dark) !important;
}
.light-text {
  transition: all 0.8s;
  color: var(--main-light) !important;
}
.opacity-sm {
  opacity: 0.5;
}
.resume {
  background-color: var(--main-contrast);
  color: var(--main-dark) !important;
  font-size: 0.9em;
  transition: all 0.8s;
}
.resume:hover {
  background-color: var(--main-secondary);
  color: var(--main-light) !important;
  cursor: pointer;
}
.selected {
  color: var(--main-contrast) !important;
  font-weight: 500;
  scale: 1.2 !important ;
}
#bag * {
  color: var(--main-dark) !important;
}

.gray-bg {
  background-color: var(--main-gray) !important;
}
.numberInCont {
  transition: all 0.8s;
  color: #ffffff0d;
  border-color: #ffffff0d !important;
}
.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.light-border {
  border-color: var(--main-light) !important;
  transition: all 0.8s;
}
.gray-border {
  border-color: var(--main-gray) !important;
  transition: all 0.8s;
}
.dark-border {
  border-color: var(--main-dark) !important;
  transition: all 0.8s;
}
.ishoverCont {
  color: #947ae257;
  border-color: #947ae257 !important;
}
.modal-content {
  background-color: transparent !important;
  margin-top: 60px;
}
.spinner-mainContrast {
  color: var(--main-secondary) !important;
}
.secondary-text {
  color: var(--main-secondary) !important;
  transition: all 0.8s;
}
.secondary-bg {
  background-color: var(--main-secondary) !important;
}

.contrast-text {
  color: var(--main-contrast) !important;
  transition: all 0.8s;
}
.contrast-bg {
  background-color: var(--main-contrast) !important;
}
.a-left {
  position: relative;
  left: -4px;
}
.conthover {
  transition: all 0.8s;
}
.conthover:hover {
  background-color: var(--main-secondary) !important;
  border-color: var(--main-light) !important;
  color: var(--main-light) !important;
  cursor: pointer;
}

.radius-50 {
  background-color: var(--main-contrast) !important;
  color: var(--main-dark) !important;
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.8s;
}
.radius-50:hover {
  cursor: pointer;
  background-color: var(--main-secondary) !important;
  box-shadow: 0px 0px 33px -15px var(--main-light);

  scale: 1.2;
}
.hoverContShadow:hover {
  box-shadow: 0px 0px 33px 35px var(--main-light) !important;
}

text-area:focus,
.input-group-text:focus,
text-area:active,
.input-group-text:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
}
.smallpadding {
  padding: 2px;
}

.minus25 {
  margin-left: -100vw;
}
.minus50 {
  margin-left: -200vw;
}
.minus75 {
  margin-left: -300vw;
}
.zero {
  margin-left: 0;
}

.imgtobechanged {
  margin-top: 250px;
}
#loremWeatherCarousel > div,
.loremWeatherCarousel > div,
#NetFlicsCarousel > div,
#bardooCarousel > div,
.udemy > div,
img[alt~="epi-degree"] {
  background: transparent;
  /* box-shadow: 0 0 30px -10px var(--main-contrast); */
  transition: all 0.8s;
}
/* #loremWeatherCarousel > div:hover,
.loremWeatherCarousel > div:hover,
#NetFlicsCarousel > div:hover,
#bardooCarousel > div:hover {
  box-shadow: 0 0 50px -10px var(--main-secondary);
  cursor: pointer;
  scale: 1.05;
} */

.udemy > div:hover,
img[alt~="epi-degree"]:hover {
  box-shadow: 0 0 50px -10px var(--main-secondary);
  cursor: pointer;
  scale: 1.03;
}
.lilscale {
  display: inline-block;
  scale: 1.05;
  transition: all 0.8s;
}
.pointer:hover {
  cursor: pointer;
}
.myBtn1 {
  background-color: var(--main-contrast);
  color: var(--main-light);
  border: 2px solid var(--main-contrast);
  transition: all 0.8s;
}
.myBtn1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: var(--main-secondary);
  color: var(--main-light);
  border-color: var(--main-secondary);
}
.myBtn2 {
  background-color: var(--main-light);
  color: var(--main-secondary);
  border: 2px solid var(--main-light);
  transition: all 0.8s;
}
.myBtn2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: var(--main-secondary);
  color: var(--main-light);
  border-color: var(--main-secondary);
}
#cvImg {
  width: 140%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100px);
}
.pointer:hover {
  cursor: pointer;
}
.v75 {
  margin-top: 30vh;
  margin-bottom: 20vh;
  height: 50vh;
}
.v70 {
  margin-top: 23vh;
}
#bardooWork,
#netflicsWork,
#promusicWork {
  min-height: 75vh;
}
.vh50 {
  height: 60vh;
  transition: 0.7s ease-in;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.top50 {
  margin-top: 50vh;
}
.vh50:hover {
  box-shadow: 0 0 50px -10px var(--main-secondary);
}

.capstone1 {
  background-image: url("../public/assets/media/works/bardoo\ .png");
}
.capstone2 {
  background-image: url("../public/assets/media/works/bardoo1.png");
}
.capstone3 {
  background-image: url("../public/assets/media/works/bardoo2.png");
}
.capstone4 {
  background-image: url("../public/assets/media/works/bardoo3.png");
}
.capstone5 {
  background-image: url("../public/assets/media/works/bardoo5.png");
}
.capstone6 {
  background-image: url("../public/assets/media/works/bardoo7.png");
}
.capstone7 {
  background-image: url("../public/assets/media/works/bardoo8.png");
}
.capstone8 {
  background-image: url("../public/assets/media/works/bardoo9.png");
}
.capstone9 {
  background-image: url("../public/assets/media/works/bardoo10.png");
}
.capstone10 {
  background-image: url("../public/assets/media/works/bardoo11.png");
}
.capstone11 {
  background-image: url("../public/assets/media/works/bardoo12.png");
}
.promusic1 {
  background-image: url("../public/assets/media/works/Promusic.png");
}
.promusic2 {
  background-image: url("../public/assets/media/works/Promusic2.png");
}
.promusic3 {
  background-image: url("../public/assets/media/works/Promusic3.png");
}
.promusic4 {
  background-image: url("../public/assets/media/works/Promusic4.png");
}
.promusic5 {
  background-image: url("../public/assets/media/works/Promusic5.png");
}
.promusic6 {
  background-image: url("../public/assets/media/works/Promusic6.png");
}
.promusic7 {
  background-image: url("../public/assets/media/works/Promusic7.png");
}
.promusic8 {
  background-image: url("../public/assets/media/works/Promusic8.png");
}
.promusic9 {
  background-image: url("../public/assets/media/works/Promusic9.png");
}
.promusic10 {
  background-image: url("../public/assets/media/works/Promusic10.png");
}
.netflics1 {
  background-image: url("../public/assets/media/works/netflixClone.png");
}
.netflics2 {
  background-image: url("../public/assets/media/works/netflixClone2.png");
}
.netflics3 {
  background-image: url("../public/assets/media/works/netflixClone3.png");
}
.netflics4 {
  background-image: url("../public/assets/media/works/netflixClone4.png");
}

.netflics1:hover,
.netflics2:hover,
.netflics3:hover,
.netflics4:hover,
.capstone1:hover,
.capstone2:hover,
.capstone3:hover,
.capstone4:hover,
.capstone5:hover,
.capstone6:hover,
.capstone7:hover,
.capstone8:hover,
.capstone9:hover,
.capstone10:hover,
.capstone11:hover,
.promusic1:hover,
.promusic2:hover,
.promusic3:hover,
.promusic4:hover,
.promusic5:hover,
.promusic6:hover,
.promusic7:hover,
.promusic8:hover,
.promusic9:hover,
.promusic10:hover {
  scale: 1.2;
  cursor: pointer;
}
.arrowUpTop {
  transform: translateY(-80vh) !important;
}
.arrowUpMidTop {
  transform: translateY(-55vh) !important;
}
.arrowUpDownTop {
  transform: translateY(5vh) !important;
}
.arrowUpDownBott {
  transform: translateY(30vh) !important;
}
